body {
    background: green;
    width: 50%;
    border: 5px solid turquoise;
    padding: 5px;
    display: block;
    margin: auto;
}
h1 {
    background: blue;
    color: orange;
}
#box {
    border: 20px solid blue;
    background: orange;
}
img {
    display: block;
    margin: 0 auto;
}